parameters:
	ignoreErrors:
		-
			message: '#^Instantiated class AddReminderCommand not found\.$#'
			identifier: class.notFound
			count: 1
			path: Domain/Access/ReminderRepository.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#1 \$startDate \(Date\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 2
			path: Domain/Access/ReservationViewRepository.php

		-
			message: '#^Access to an undefined property ReservationItemView\:\:\$BufferTime\.$#'
			identifier: property.notFound
			count: 2
			path: Domain/ReservationItemView.php

		-
			message: '#^Parameter \$item of method DashboardPage\:\:AddItem\(\) has invalid type DashboardItem\.$#'
			identifier: class.notFound
			count: 1
			path: Pages/DashboardPage.php

		-
			message: '#^Parameter \$item of method IDashboardPage\:\:AddItem\(\) has invalid type DashboardItem\.$#'
			identifier: class.notFound
			count: 1
			path: Pages/DashboardPage.php

		-
			message: '#^Parameter \$control of method AnnouncementPresenter\:\:__construct\(\) has invalid type IAnnouncementsControl\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/Dashboard/AnnouncementPresenter.php

		-
			message: '#^Parameter \$control of method GroupUpcomingReservationsPresenter\:\:__construct\(\) has invalid type IUpcomingReservationsControl\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/Dashboard/GroupUpcomingReservationsPresenter.php

		-
			message: '#^Parameter \$control of method MissingCheckInOutReservationsPresenter\:\:__construct\(\) has invalid type IRemainingPastReservationsControl\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/Dashboard/MissingCheckInOutReservationsPresenter.php

		-
			message: '#^Parameter \$control of method PastReservationsPresenter\:\:__construct\(\) has invalid type IPastReservationsControl\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/Dashboard/PastReservationsPresenter.php

		-
			message: '#^Parameter \$control of method PendingApprovalReservationsPresenter\:\:__construct\(\) has invalid type IAditionalUpcomingReservationsFieldsControl\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/Dashboard/PendingApprovalReservationsPresenter.php

		-
			message: '#^Instantiated class AvailableDashboardItem not found\.$#'
			identifier: class.notFound
			count: 2
			path: Presenters/Dashboard/ResourceAvailabilityControlPresenter.php

		-
			message: '#^Instantiated class UnavailableDashboardItem not found\.$#'
			identifier: class.notFound
			count: 2
			path: Presenters/Dashboard/ResourceAvailabilityControlPresenter.php

		-
			message: '#^Parameter \$control of method ResourceAvailabilityControlPresenter\:\:__construct\(\) has invalid type IResourceAvailabilityControl\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/Dashboard/ResourceAvailabilityControlPresenter.php

		-
			message: '#^Parameter \$control of method UpcomingReservationsPresenter\:\:__construct\(\) has invalid type IUpcomingReservationsControl\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/Dashboard/UpcomingReservationsPresenter.php

		-
			message: '#^Instantiated class AllUpcomingReservations not found\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/DashboardPresenter.php

		-
			message: '#^Instantiated class AnnouncementsControl not found\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/DashboardPresenter.php

		-
			message: '#^Instantiated class GroupUpcomingReservations not found\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/DashboardPresenter.php

		-
			message: '#^Instantiated class MissingCheckInOutReservations not found\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/DashboardPresenter.php

		-
			message: '#^Instantiated class PastReservations not found\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/DashboardPresenter.php

		-
			message: '#^Instantiated class PendingApprovalReservations not found\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/DashboardPresenter.php

		-
			message: '#^Instantiated class ResourceAvailabilityControl not found\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/DashboardPresenter.php

		-
			message: '#^Instantiated class UpcomingReservations not found\.$#'
			identifier: class.notFound
			count: 1
			path: Presenters/DashboardPresenter.php

		-
			message: '#^Function IsUserInGroup not found\.$#'
			identifier: function.notFound
			count: 1
			path: WebServices/AuthenticationWebService.php

		-
			message: '#^Method GroupControllerPageFacade\:\:AutomaticallyAddToGroup\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetAdminGroupId\(\) should return int but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetAllowedResourceIds\(\) should return array\<int\> but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetGroupId\(\) should return int but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetGroupName\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetImportFile\(\) should return UploadedFile but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetPageNumber\(\) should return int but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetPageSize\(\) should return int but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetRoleIds\(\) should return array\<int\> but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetUpdateOnImport\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetUserId\(\) should return int but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method GroupControllerPageFacade\:\:GetUserIds\(\) should return array\<int\> but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/GroupSaveController.php

		-
			message: '#^Method ReservationApprovalRequestResponseFacade\:\:GetRetryParameters\(\) should return array\<ReservationRetryParameter\> but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/ReservationSaveController.php

		-
			message: '#^Method ReservationDeleteRequestResponseFacade\:\:GetRetryParameters\(\) should return array\<ReservationRetryParameter\> but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Controllers/ReservationSaveController.php

		-
			message: '#^Method ScheduleWebServicePageBuilder\:\:GetGroupId\(\) should return int but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/SchedulesWebService.php

		-
			message: '#^Method ScheduleWebServiceView\:\:GetLayoutDate\(\) should return string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/SchedulesWebService.php

		-
			message: '#^Method ResourceRequestValidator\:\:ValidateDeleteRequest\(\) should return array\<string\> but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: WebServices/Validators/ResourceRequestValidator.php

		-
			message: '#^Method ManageReservationsUpdateAttributeResultCollector\:\:GetRetryParameters\(\) should return array\<ReservationRetryParameter\> but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: lib/Application/Admin/ManageReservationsService.php

		-
			message: '#^Method ScheduleAdminScheduleRepository\:\:Add\(\) should return int but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: lib/Application/Admin/ScheduleAdminScheduleRepository.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#2 \$chartColumnDefinition \(ChartColumnDefinition\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: lib/Application/Reporting/ReportColumn.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#2 \$session \(UserSession\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 2
			path: lib/Application/Schedule/ScheduleService.php

		-
			message: '#^Call to static method GetAvailableLanguages\(\) on an unknown class AvailableLanguages\.$#'
			identifier: class.notFound
			count: 1
			path: lib/Common/Resources.php

		-
			message: '#^Deprecated in PHP 8\.4\: Parameter \#1 \$startDate \(Date\) is implicitly nullable via default value null\.$#'
			identifier: parameter.implicitlyNullable
			count: 1
			path: lib/Database/Commands/Commands.php

		-
			message: '#^Call to static method Contains\(\) on an unknown class AvailableLanguages\.$#'
			identifier: class.notFound
			count: 1
			path: lib/FileSystem/Paths.php

		-
			message: '#^Function IsUserInGroup not found\.$#'
			identifier: function.notFound
			count: 3
			path: lib/WebService/Slim/SlimWebServiceRegistry.php

		-
			message: '#^Function IsUserInGroup not found\.$#'
			identifier: function.notFound
			count: 2
			path: lib/WebService/Slim/SlimWebServiceRegistryCategory.php

		-
			message: '#^Function mcrypt_enc_get_iv_size not found\.$#'
			identifier: function.notFound
			count: 2
			path: lib/external/Slim/Http/Util.php

		-
			message: '#^Function mcrypt_enc_get_key_size not found\.$#'
			identifier: function.notFound
			count: 2
			path: lib/external/Slim/Http/Util.php

		-
			message: '#^Function mcrypt_generic not found\.$#'
			identifier: function.notFound
			count: 1
			path: lib/external/Slim/Http/Util.php

		-
			message: '#^Function mcrypt_generic_deinit not found\.$#'
			identifier: function.notFound
			count: 2
			path: lib/external/Slim/Http/Util.php

		-
			message: '#^Function mcrypt_generic_init not found\.$#'
			identifier: function.notFound
			count: 2
			path: lib/external/Slim/Http/Util.php

		-
			message: '#^Function mcrypt_module_open not found\.$#'
			identifier: function.notFound
			count: 2
			path: lib/external/Slim/Http/Util.php

		-
			message: '#^Function mdecrypt_generic not found\.$#'
			identifier: function.notFound
			count: 1
			path: lib/external/Slim/Http/Util.php

		-
			message: '#^Method Slim\\Middleware\\ContentTypes\:\:parseJson\(\) should return array\|string but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: lib/external/Slim/Middleware/ContentTypes.php
